header {
  margin: 0 auto;
  padding: 0 px 20px 0px 20px;
  background-color: #6e7283;
  border-bottom: solid #dbeae4;
  border-bottom-width: 5px;
  color: #fff;
}

h1 {
  font-family: 'Slabo 13px', serif;
  height: 100%;
  display: inline;
  font-size: 20px;
  padding-right: 5px;
}

nav {
  height: 100%;
  margin: 0px;
  float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
  margin: 0 auto;
}

section {
  padding: 10px;
}

p {
  font-family: 'Pontano Sans', sans-serif;
}

.Hi {
  color: #e7b9a9;
  text-transform: uppercase;
}

.intro {
  text-align: center;
  color: #a6afb2;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  width: 70%;
  padding: 25px 0px 25px 0px;
  max-width: 600px;
}

.intro-pic {
  float: right;
  width: 20%;
  border: solid 2px ;
}

ul {
  text-align: center;
  margin: auto;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

h2 {
  font-family: 'Slabo 13px', serif;
  text-align: left;
}

li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Pontano Sans',sans-serif;
  font-size: 13px;
}

a:hover {
  color: #dbeae4;
  border-bottom: solid;
  border-bottom-width: 1px;
}

#work {
  background-color: #e7b9a9;
  padding: 10px;
}
